<div class="container mt-2">
    <div class="row">
        <div class="col-md-12 text-right">
            <button 
            routerLink="Adduser"
            mat-raised-button color="primary" >Add user</button>
        </div>

        <div class="col-md-4">
            <ul class="list-group">
                <li 
                routerLinkActive="active"
                [routerLink]="user.userId"
                class="list-group-item" *ngFor="let user of userArr">
                   {{user.userName}}
                   <small class="badge"
                   [ngClass]="{
                    'badge-primary':user.isActive,
                    'badge-danger':!user.isActive
                   }"
                   >{{user.isActive?'Active':'In-Active'}}</small>
                </li>
            </ul>
        </div>

        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>